
/* Structure */

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}

ul li, ol li {
    padding: 0;
    list-style-position: outside;
}

.card {
    font-family: arial;
    font-size: 20px;
    text-align: left;
    padding: 10px;
}

.front .subject {
    font-weight: bold;
    font-size: 2em;
}

.front-kanji .subject,
.front-radical .subject {
    font-size: 4em;
}

.back .section {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.back .section .label {
    font-weight: bold;
}

.back-word .definition .part-of-speech {
    display: block;
}

.back-word .definition .part-of-speech,
.back-sentence .reading .reading {
    font-size: 0.8em;
}

/* Colors */

a {
    color: #913228;
}

a:hover {
    color: #DC3023;
}

.card {
    color: #351E1C;
    background-color: #f9f9f9;
}

.card.nightMode {
    color: #5C544E;
    background-color: #d9d9d9;
}

.text-japanese {
    color: #C3272B;
}

.front .subject a {
    color: #913228;
}

.front .subject a:hover {
    color: #DC3023;
}

.back-word .definition .part-of-speech {
    color: #7f7f7f;
}

.back-sentence .reading .reading {
    color: #9f9f9f;
}

.nightMode .back-sentence .reading .reading {
    color: #7f7f7f;
}
